/* NAVBAR MEDIA QUERIES */
@media (min-width:426px) and (max-width:769px){ 
    /* nav-bar */
    .navbar-right
    {
        display:none;
        position:absolute;
        top:50px;
        right:0px;
        width:80%;
        z-index:3;
    }
    .navbar-right a{
       color:white;
       padding:10px;
    }
    .hamburger-icon
    {
       display:flex;
       font-size:30px;
       cursor:pointer;
       margin-right:3%;
       position:relative;
    }
   
    .navbar{
       display:flex;
       justify-content: space-between;
    }
    .navbar-left
    {
        margin-left:3%;
    }
     .pages
     {
      justify-content:flex-start;
     }
     

    .hamburger-icon:hover~.navbar-right{
        display:flex;
        flex-direction:column;
        background-color: #222;
        
    }

   



    /* background details */

    .background-image {
        height:560px;
    }
    .circle img
    {
        height:350px;
        width:350px;
        margin-left:3%;
    }
    .circle-hr
    {
        width:50px;
    }
    .date-circle
    {
        font-size:20px;
    }
    .name-circle
    {
        font-size:35px;
    }

    .caption-circle
    {
        font-size:17px;
    }
    
    /* our story */
    
    .our-story
    {
        padding-top:100px;
        max-width: 740px;
    }
    .our-story-content
    {
        flex-wrap: wrap;
        margin-left:3%;
    }
    
    .our-story-img img
    {
        width:550px;
        height:760px;
        
    }
    .our-story-background {
        display:none;
    }
    
    /* Main-location */

    .location-dates
    {
        padding-top:100px;
        flex-direction: column;
        max-width:740px;
        gap:30px;
        margin-bottom:0px;
    }
    .location-hr
    {
        display:none;
    }

    /* our-memories */
      .our-memories
      {
        width:700px;
      }

      /* contact-details */

      .contact-information
      {
         margin:auto;
         padding-top:100px;
      }

      .outer-top
      {
       left:-120px;
      }
      .outer-bottom
      {
        right:-100px;
      }


      /* brand */
      .our-brand-img
      {
        align-items: center;
        flex-direction: column;
        flex:wrap;
      }
      /* footer */
      .footer-top{

        justify-content: space-between;
        align-items: center;
      }
      .footer-left1
      {
         width:41%;
         margin-left:4%;
         margin-bottom:4%;
        
      }
       .footer-left2
      {
         width:41%;
          margin-bottom:3%;
      }

      .footer-right1
      {
        width:41%;
         margin-left:4%;
      }
      .footer-right2
      {
        width:41%;
      }
}



@media (min-width:320px) and (max-width:425px){
   
    
    /* nav-bar */
    .navbar-right
    {
        display:none;
        position:absolute;
        top:50px;
        right:0px;
        width:80%;
        z-index:3;
    }
    .navbar-right a{
       color:white;
       padding:10px;
    }
    .hamburger-icon
    {
       display:flex;
       font-size:30px;
       cursor:pointer;
       margin-right:3%;
       position:relative;
    }
   
    .navbar{
       display:flex;
       justify-content: space-between;
    }
    .navbar-left
    {
        margin-left:3%;
    }

    .hamburger-icon:hover~.navbar-right{
        display:flex;
        flex-direction:column;
        background-color: #222;
        
    }

     .pages
     {
      justify-content:flex-start;
     }

    /* background details */

    .background-image {
        height:400px;
    }
    .circle img
    {
        height:225px;
        width:225px;
        margin-left:3%;
    }
    .circle-hr
    {
        display:none;
    }
    .date-circle
    {
        font-size:16px;
    }
    .name-circle
    {
        font-size:25px;
    }

    .caption-circle
    {
        font-size:13px;
    }
    
    /* our story */
    
    .our-story
    {
        padding-top:50px;
        max-width: 420px;
    }
    .our-story-content
    {
        flex-wrap: wrap;
        margin-left:3%;
    }
    .our-story-img{
        margin-left:20%;
        width:100%;
    }
    .our-story-img img
    {
        width:90%;
        height:250px;
        display:flex;
        justify-content: center; 
        align-items:center;
        margin:auto;
    }
    .our-flower-img
    {
        display:none;
    }
    .our-story-background {
        display:none;
    }
    .our-story-right {
       margin-left: 5%;

    }
    .our-story-right-top h3 {
      font-size:20px;
    }

    .our-story-right-bottom p {
      font-size:13px;
    }
   



    /* Main-location */

    .location-dates
    {
        padding-top:50px;
        flex-direction: column;
        gap:30px;
        margin-bottom:0px;
    }
    .location-hr
    {
        display:none;
    }
    
    .location1-backflower,
    .location2-backflower,
    .location3-backflower {
        top: 20px;
       left: 125px;
      }
      .location1-heading h1,
       .location2-heading h1, 
       .location3-heading h1 {
          font-size:25px;
       }

    .location1-heading p,
       .location2-heading p, 
       .location3-heading p {
          font-size:18px;
       }

      .location1-img img,
      .location2-img img,
      .location3-img img {
          height:177px;
          width:177px;
          margin-bottom:0px;
      }
      .location1-backflower img,
      .location2-backflower img,
      .location3-backflower img {
         height: 144px;
      }

      .white-border
      {
         height:177px;
         width:177px;
         top:-6px;
         left:25px;
         bottom:0px;
         border: 5px solid rgba(255, 255, 255, 0.8);
         border-radius: 50%;
        border-top:5px solid #800098;
      }


   


    /* our-memories */
      .our-memories-top
      {
        flex-direction:column;
        align-items: center;
      }

      .our-memories-bottom
      {
        flex-direction:column;
        align-items:center;
      }

      .our-memories h2
      {
        font-size:25px;
      }
      .our-memories-background
      {
        display:none;
      }
      .memory-image
      {
        width:80%;
        margin-bottom:10px;
      }



      /* our partners */
      .our-brand-img
      {
        flex-direction: column;
        flex:wrap;
        align-items: center;
      }
      .our-partners h2
      {
        text-align: center;
        font-size:25px;
      }

      /* best gift */
      .white-box
      {
        opacity:0.1;
      }
      .best-gift-img
      {
        height:400px;
      }
      .our-memories{
        padding-bottom:100px;
      }
      .best-gift-content
      {
        top:100px;
        margin-left:5%;
      }
      .best-gift-content h2
      {
        font-size:40px;
        font-weight:700;
      }
      .best-gift-content p{

        font-size:18px;
      }


      /* contact-details */

      .contact-information
      {
         margin:auto;
         padding-top:30px;
         
      }
      .contact-form{
         width:90%;
         height:650px;
         

      }
      .contact-inner-flower .top2,
      .contact-inner-flower .top1,
      .contact-inner-flower .top3,
      .contact-inner-flower .top4
      {
        height:45px;
        width:70px;
      }
      .contact-img img {
        margin-top: 30px;
        margin-bottom: 15px;
        width:60px;
        height:39px;
        }

      .outer-top
      {
         height:210px;
         width:200px;
         left:-70px;
      }
      .outer-bottom
      {
        height:210px;
         width:200px;
         right:-50px;
         bottom:50px;
      }
      .contact-form h2 {
        font-size:20px;
      }
      .contact-details input{
        padding:5px 8px 5px 8px;
        font-size:15px;

      }
      .contact-details select
      {
        height:50px;
        padding:7px 10px 7px 10px;
        font-size:15px;
      }
      .contact-details .textarea
      {
        width:65%;
        padding:10px 20px;
        font-size:15px;
      }

      .contact-button
      {
        margin:auto;
        margin-top:20px;

      }
    .contact-button button{
        padding:10px;
        width:75px;
        font-size:15px;
      }

     


      /* footer */
      .footer-top{

        flex-direction:column;
        justify-content: space-evenly;
        margin-left:3%;
        
      }
      .footer-left1,.footer-left2,
      .footer-right1,.footer-right2
      {
        margin-bottom: 10px;
      }
      
      .footer-bottom
      {
        padding:0px;
        text-align:center;
        padding-left:10px;
        padding-right:10px;
      }




}


/* PAGE-BLOG MEDIA QUERIES */
@media (min-width:426px) and (max-width:769px){ 

  .main-blog
  {
    flex-direction:column;
  }

  .blog-rightside
  {
    width:90%;
    margin:auto;
  }

  .search-bar input
  {
    width:700px;
  }

  .search-button button
  {
    width:565px;
  }
  .email-contact input{
    width:550px;
  }

  .subscribe button
  {
    width:575px;
  }

  .blog-leftside
  {
    width:85%;
  }


}

@media (min-width:320px) and (max-width:425px)
{
  
  .main-blog
  {
    flex-direction:column;
  }
  .blog1-img img {

    width:250px;
    height:250px;
  }
  .blog1-date
  {
    padding:5px 10px;
  }

  .blog-rightside
  {
    width:90%;
    margin:auto;
  }

  .search-bar input
  {
    width:250px;
  }

  .search-button button
  {
    width:225px;
  }
  .email-contact input{
    width:200px;
  }

  .subscribe button
  {
    width:230px;
  }

  .blog-leftside
  {
    width:85%;
  }
}


/* BLOG-DETAILS MEDIA QUERIES */

@media (min-width:426px) and (max-width:769px){ 

  .blog-leftside{
    margin:auto;
  }

  .blog1-img img {

    width:550px;
  } 

}

@media (min-width:320px) and (max-width:425px)
{
  .main-blog{
    width:90%;
  }
  .blog-leftside{
    width:100%;
  }
  .blog-details
  {
    width:100%;
  }
  .main-blog p {
      font-size:13px;
  }
  .main-blog h2,.main-blog h3,.main-blog h4{
      font-size:15px;
  }
  .leftside-start {
    flex-direction:column;
  }

  .leftside-end
  {
    flex-direction:column;
  }

  .author
  {
    padding:15px 20px;
  }
  .contact1-index
  {
    margin:10px;
    width:85%;
  }
  .nameemail
  {
    width:84%;
  }
}


/* OUR-ELEMENT QUERIES */
@media (min-width:426px) and (max-width:769px){ 

  .sample-button
  {
    width:100%;
  }
  .left-content p, .right-content p {
  
    font-size:14px;
    line-height:20px;
  }

  .d1 p,.d2 p,.d3 p{
      font-size:13px;
  }

  text-sample p {
   font-size:14PX;
  }

}

@media (min-width:426px) and (max-width:769px){ 

  .sample-button
  {
    width:100%;
  }
  .left-content p, .right-content p {
  
    font-size:10px;
    line-height:10px;
  }

  .d1 p,.d2 p,.d3 p{
      font-size:10px;
  }

}
@media (min-width:426px) and (max-width:769px){ 

  .sample-button
  {
    width:100%;
  }
  .left-content p, .right-content p {
  
    font-size:10px;
    line-height:10px;
  }

  .d1 p,.d2 p,.d3 p{
      font-size:10px;
  }

}

@media (min-width:426px) and (max-width:769px){ 

  .sample-button
  {
    width:100%;
  }
  .left-content p, .right-content p {
  
    font-size:10px;
    line-height:10px;
  }

  .d1 p,.d2 p,.d3 p{
      font-size:10px;
  }

}
@media (min-width:426px) and (max-width:769px){ 

  .sample-button
  {
    width:100%;
  }
  .left-content p, .right-content p {
  
    font-size:10px;
    line-height:10px;
  }

  .d1 p,.d2 p,.d3 p{
      font-size:10px;
  }

}

@media (min-width:426px) and (max-width:769px){ 

  .sample-button
  {
    width:100%;
  }
  .left-content p, .right-content p {
  
    font-size:10px;
    line-height:10px;
  }

  .d1 p,.d2 p,.d3 p{
      font-size:10px;
  }

}


@media (min-width:320px) and (max-width:425px) {


  .text-sample
  {
    padding-right:3px;
  }

  .left-content
  {
    flex-direction:column;
  }

  .right-content{
    flex-direction:column;

  }

  .right-aligned h3
  {
    justify-content: flex-start;
  }

  .definition-class
  {
    flex-direction:column;
  }

  .block-quotes p {
    padding: 13px 38px 11px 17px;
  }

  .row1-collab, .row2-collab, .row3-collab {

    flex-direction:column;
    margin-bottom:20px;
  }

    .ic1 , .ic2 , .ic3 ,.ic4,.ic5,.ic6,.ic7,.ic8{
  
    width: 90%;
    height: 150px;
    margin-bottom:50px;
     }
    .list-types
    {
      flex-direction:column;
      margin-left:20px;
    }
  
}

/* our contact-media */

@media (min-width:320px) and (max-width:425px) {


  .contact-index{
    flex-direction: column;
    flex:wrap;
  }

  .right-side-contact
  {
    width:85%;
  }

}
@media (min-width:426px) and (max-width:769px) {


  .contact-index{
    flex-direction: column;
    flex:wrap;
  }

  .right-side-contact
  {
    width:45%;
  }

}
