

/* circle */

.circle img
{
    animation:rotatecircle 30s infinite linear;
}

@keyframes rotatecircle {
     
    from{

        transform:rotate(0deg);
    }
    to {

         transform:rotate(360deg);
    } 
}

/* memories */


.memories-black
{ 
  width:100%;
  height:100%;
  background-color: black;
  position:absolute;
  opacity:0;
  z-index:2;
  transition:0.4s all ease-out 0s;
  display:flex;
  justify-content:center;
  align-items:center;
}
.memory-image{
 /* overflow:hidden; */
  transition:0.4s all ease-out 0s;
  
}
.our-memories-top-img img,
.our-memories-bottom-img img
{
    transition:0.4s all ease-out 0s;
}
.memory-image:hover img{
    transform:scale(0.9);
}
.memory-image:hover .memories-black{

    opacity:0.6;
      transform:scale(0.9);
    
}

.plus-circle
{
    width:40px;
    height:40px;
    border-radius:50%;
    background:white;
    position:absolute;
    z-index:3;
    display:flex;
    justify-content:center;
    align-items:center;
}

.plus-circle i
{
    font-size:20px;
    color:black;
    
}
.our-memories-background
{   
    pointer-events:none;
}




/* contact */

.contact-img img
{
    animation:rotateflower  5s linear infinite;
}

@keyframes rotateflower {
    

    0%
    {
        
    transform:rotate(0deg);

    }

    100%{

    transform:rotate(-90deg);

    }
}



.outer-top,.outer-bottom{

    animation: translateflower  5s infinite linear;
}

@keyframes translateflower {

    0%
    {
        transform:translateY(0px);
        
    }
    100%{
        
       transform:translateY(-25px);
    }
    
}

/* brand image */
/* .our-brand-img  img
{
    animation:slidebrands 10s infinite linear;
}

@keyframes slidebrands{


    0%{
       
        transform:translateX(100%);

    }

   

    100%
    {
        transform:translateX(-100%);
    }

} */





.white-border
{
    animation:rotateborder 10s infinite;
}

@keyframes rotateborder
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}

.our-story-left,.our-shape-right,.our-memories-left,.our-memories-right
{
    animation:scalezoom 5s infinite;;
}

.our-story-right img{
    animation:move 5s infinite;
}

@keyframes move{

    0%
    {
        transform:translateX(100px);
    }
    100%
    {
        transform:translateX(0px);
    }
}

.location1-img img,.location2-img img,.location3-img img
{
    animation:scalezoom 5s infinite;
}



@keyframes scalezoom
{
    0%
    {
        transform:scale(0.8);
    }

    100%
    {
        transform:scale(1);
    }
}



.blog1-date{
    
    animation:bloganimate 5s linear infinite;
}

@keyframes bloganimate {

    0%
    {
        border-radius:80%;
        transform:scale(0.5);
        transform:translateX(0px);
    }

    100%
    {
        transform:scale(1.5);
        transform:translateX(500px);
    } 
}

.hero-content h2{
    animation:scaleheading 5s linear infinite;
}

@keyframes scaleheading {

    0%
    {
        transform:scale(0.5);
    }
    100%{
         transform:scale(1.1);
    }
    
}

.content-circle{
    animation:scalecircle 5s linear infinite;
}

@keyframes scalecircle {

    0%
    {
        transform:scale(0.5);
    }
    100%{
         transform:scale(1.1);
    }
    
}



.best-gift-img:hover ~.white-box
{
    width:100%;
    

}

.contact-button:hover ~ .button-black{
  
  
  opacity:0.4;
  width:150px;
  
}
.blog1-img img
{
    transition: 5s all linear;
}

.blog1-img img:hover{
   
     transform:scale(1.1);
}

.post-img{
    overflow:hidden;
}
.post-img img
{
    transition: 5s all linear;
   
    
}

.post-img img:hover{

    transform:scale(1.2);
    

}









